In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import re

In [ ]:
reviews = pd.read_csv('/content/reviews.csv')

In [ ]:
reviews.head()

                                              review
0  One of the other reviewers has mentioned that ...
1  A wonderful little production. <br /><br />The...
2  I thought this was a wonderful way to spend ti...
3  Basically there's a family where a little boy ...
4  Petter Mattei's "Love in the Time of Money" is...

In [ ]:
reviews.shape

(203, 1)

In [ ]:
words = pd.read_excel('/content/Positive and Negative Word List.xlsx')
words.head()

   Unnamed: 0 Negative Sense Word List Positive Sense Word List
0           0                      NaN                      NaN
1           1                 abnormal                     able
2           2                  abolish                abundance
3           3               abominable               accelerate
4           4               abominably                   accept

In [ ]:
words.drop('Unnamed: 0',axis=1)

     Negative Sense Word List Positive Sense Word List
0                         NaN                      NaN
1                    abnormal                     able
2                     abolish                abundance
3                  abominable               accelerate
4                  abominably                   accept
...                       ...                      ...
4716                   zenana                      NaN
4717                   zephyr                      NaN
4718                     zero                      NaN
4719                      zol                      NaN
4720                   zombie                      NaN

[4721 rows x 2 columns]

In [ ]:
negative_words = words['Negative Sense Word List']
positive_words = words['Positive Sense Word List']

In [ ]:
Positive.index('the')

3945

In [ ]:
negative_words

0              NaN
1         abnormal
2          abolish
3       abominable
4       abominably
           ...
4716        zenana
4717        zephyr
4718          zero
4719           zol
4720        zombie
Name: Negative Sense Word List, Length: 4721, dtype: object

In [ ]:
Negative = list(negative_words.dropna())
Positive = list(positive_words.dropna())

In [ ]:
!pip install nltk
import nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

P = [word for word in Positive if not word in stopwords.words()]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
N = [word for word in Negative if not word in stopwords.words()]

In [ ]:
def sentiment(sentance):
  p=0
  n=0
  for i in sentance:
    i = re.sub('[^A-Za-z0-9]+', '', i).lower()
    if i in P:
      p+=1
    elif i in N:
      n+=1
  s=0
  s = p-n
  if s>0:
    return 'Good/Positive'
  elif s==0:
    return 'Neutral/Average'
  else:
    return 'Bad/Negative'

In [ ]:
reviews.shape

(203, 2)

In [ ]:
sentiment('the is movie was bad. music was abysmal'.split())

'Bad/Negative'

In [ ]:
sentiment(list(reviews['review'][24].split()))

'Good/Positive'

In [ ]:
l=[]
for i in range(203):
  l.append(sentiment(list(reviews['review'][i].split())))

In [ ]:
reviews['sentiment'] = l

In [ ]:
reviews.sentiment.value_counts()

Good/Positive      195
Bad/Negative         6
Neutral/Average      2
Name: sentiment, dtype: int64

In [ ]:
reviews.head()

                                              review      sentiment
0  One of the other reviewers has mentioned that ...  Good/Positive
1  A wonderful little production. <br /><br />The...  Good/Positive
2  I thought this was a wonderful way to spend ti...  Good/Positive
3  Basically there's a family where a little boy ...  Good/Positive
4  Petter Mattei's "Love in the Time of Money" is...  Good/Positive